body{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;

    border: 1px solid black;
    border-radius: 5px;
    padding: 5rem;

    width: 10vw;
}

input{
    border-radius: 5px solid;
}